html {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 12pt;
}
body {
	margin: 0;
	padding: 0;
	background-color: #E3E7EA;
}
body.loading {
	width: 100%;
	height: 100%;
	background-image: url('loading-large.gif');
	background-position: center center;
	background-repeat: no-repeat;
}
#gamefic_console {
	width: 80%;
	min-width: 600px;
	max-width: 1024px;
	overflow: hidden;
	margin: 0 auto;
	background-color: #FFFFFF;
	-webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
}
#titlebar {
	margin: 0 auto;
	padding: 1px;
	height: 20px;
	background-color: #0D1046;
	color: #FFFFFF;
}
#titlebar h1 {
	margin: 0 0 0 10px;
	height: 20px;
	font-size: 14px;
	font-weight: normal
}
#image-container {
	margin: 0 auto;
	padding: 0;
	background-color: #FFFFFF;
	border: 1px solid #A0A0A0;
	display: none;
}
#image {
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	padding: 0;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% 100%;
	display: none;
}
#image-container.loading {
	background-image: url('loading-circle.gif');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto auto;
}
#image-container.loading image {
	visibility: hidden;
}
#text-container {
	border-top: 1px solid #A0A0A0
	background-color: #FFFFFF;
	overflow: auto;
}
#text {
	margin: 1em;
}
#text kbd {
	font-family: Courier, Monospace;
	font-weight: bold;
	color: green;
}
#text kbd.logged {
	color: gray;
}
#text blockquote {
	margin: 1em 1em 1em 0;
	padding: 0 0 0 1em;
	border-left: 2px solid #E0E0E0;
	color: #303030;
}
#controls {
	border-top: 1px solid #A0A0A0;
	background-color: #FFFFFF;
}
#prompt, #concluded {
	margin: 4px 0 4px 0;
	padding: 6px 0 0 10px;
	background-color: #FFFFFF;
	background-position: 10px 8px;
	background-repeat: no-repeat;
	font-size: 10pt;
	height: 14pt;
	font-weight: bold;
}
#commandform, #dialogform {
	position: relative;
	background-color: #FFFFFF;
	padding: 0 0 10px 0;
}
#commandline-container, #dialogline-container {
	margin-left: 10px;
	margin-right: 80px;
	height: 2em;
}
#gamefic_command, #dialogline {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 14pt;
	border: 1px solid #909090;
}
#commandenter, #dialogenter {
	position: absolute;
	font-size: 12pt;
	right: 10px;
	top: 0;
	margin: 0;
	padding: 0;
	border: 1px solid black;
	width: 60px;
}
.hidden {
	display: none;
}
ol.multiple-choice {
	list-style: none;
	margin: 1em 0 1em 0.5em;
	padding: 0;
}
ol.multiple-choice li {
	margin: 0.25em 0 0.25em 0;
	padding: 0;
}
a.disabled {
	color: gray;
	text-decoration: none;
}
.error {
	color: red;
}
.hint {
	font-style: italic;
}
#prompt.hint {
	color: red;
	font-weight: bold;
}
kbd a {
	color: green;
}
noscript p {
	font-weight: bold;
	text-align: center;
}
#image_cacher {
	position: absolute;
	top: 10000;
}
#dialog {
	display: none;
}
#dialog nav p {
	text-align: center;
}
#dialog nav p a {
	margin: 0 1em 0 1em;
}
ol.multiple-choice li {
	margin: 0.5em 0 0.5em 0;
	padding: 0;
	list-style-type: decimal;
}
#dialog.loading * {
	visibility: hidden;
}
#dialog.loading {
	background-image: url('loading.gif');
	background-position: center center;
	background-repeat: no-repeat;
}
