<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title><%= title %> by <%= author %></title>
		<%= stylesheet_tags %>
	</head>
	<body>
		<div id="gamefic_console">
			<div id="gamefic_output">
			</div>
			<div id="gamefic_controls">
				<form action="">
					<span id="gamefic_prompt"></span>
					<input type="text" name="command" id="gamefic_command" autocomplete="off" />
					<button type="submit" id="gamefic_submit">Enter</button>
				</form>
			</div>
		</div>
		<%= javascript_tags %>
	</body>
</html>
